In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 88, 92]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   John   25     90
1   Mary   31     85
2  David   42     88
3   Jane   28     92

In [5]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.


A Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to an Excel spreadsheet or a table in a relational database.

A Pandas Series, on the other hand, is a 1-dimensional labeled array capable of holding any data type (integer, string, float, etc.).

Here's an example to illustrate the difference:

SyntaxError: unterminated string literal (detected at line 8) (1814244729.py, line 8)

In [6]:
import pandas as pd

# Create a Series
series = pd.Series([1, 2, 3, 4, 5])
print(series)

# Create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

drop(): Drop rows or columns from the DataFrame.
filter(): Filter rows based on a condition.
groupby(): Group data by one or more columns and perform aggregation operations.
merge(): Merge two DataFrames based on a common column.
pivot_table(): Create a pivot table from a DataFrame.
sort_values(): Sort the DataFrame by one or more columns.
apply(): Apply a function to each row or column of the DataFrame.
Example:

SyntaxError: invalid syntax (2158734602.py, line 3)

In [8]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'David', 'Jane'],
        'Age': [25, 31, 42, 28],
        'Score': [90, 85, 88, 92]}
df = pd.DataFrame(data)

# Drop rows where Age is greater than 30
df_dropped = df.drop(df[df['Age'] > 30].index)
print(df_dropped)

# Filter rows where Score is greater than 90
df_filtered = df[df['Score'] > 90]
print(df_filtered)

   Name  Age  Score
0  John   25     90
3  Jane   28     92
   Name  Age  Score
3  Jane   28     92

In [9]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All three - Series, DataFrame, and Panel - are mutable in nature. This means that you can modify their contents after creation.

SyntaxError: invalid syntax (3666402687.py, line 3)

In [10]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Create three Series
series1 = pd.Series([1, 2, 3, 4, 5], name='A')
series2 = pd.Series([6, 7, 8, 9, 10], name='B')
series3 = pd.Series([11, 12, 13, 14, 15], name='C')

# Create a DataFrame using the three Series
df = pd.DataFrame({series1.name: series1, series2.name: series2, series3.name: series3})

print(df)

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15